.skeletonCard {
  width: 100%;
  height: 40vh; // Altura aproximada do card real
  background-color: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  position: relative;

  &::after {
    // Efeito de Shimmer (Brilho passando)
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.05) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 1.5s infinite;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.skeletonImage {
  width: 100%;
  height: 70%;
  background-color: #252525;
}

.skeletonContent {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skeletonTitle {
  width: 80%;
  height: 20px;
  background-color: #252525;
  border-radius: 4px;
}

.skeletonText {
  width: 100%;
  height: 12px;
  background-color: #252525;
  border-radius: 4px;
}

.skeletonButton {
  width: 40px;
  height: 40px;
  background-color: #252525;
  border-radius: 50%;
  align-self: flex-end;
  margin-top: auto;
}
