.appContainer {
  font-family: Arial, sans-serif;
  /* Imagem de fundo fixa para todas as páginas */
  background-image: url("./assets/wallpaper.gif");
  background-size: contain; /* menor “zoom”, mostra toda a imagem */
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}
